{% extends "layout.html" %}
{% block history_act %}active{% endblock %}
{% block body %}
<div class="container" style="position: fixed; width: 100%; height: 85%;">
<iframe style="width: 100%; height: 100%; border: none" src="https://home.shoup.io/grafana/dashboard/db/weather?theme=light"></iframe>
</div>
{% endblock %}
