<!DOCTYPE html>
<html lang="en">
<head>
  <title>&#9925; {% block title %}Weather{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">Weather for {{ config.LOCATION }}</a>
    </div>
    <div class="collaps navbar-collapse">
      <ul class="nav navbar-nav">
      <li role="presentation" class="{% block status_act %}{% endblock %}"><a href="{{ url_for('status') }}">Conditions/Forecast</a></li>
      <li role="presentation" class="{% block history_act %}{% endblock %}"><a href="https://grafana.shoup.io/dashboard/db/weather?refresh=1m&orgId=2">History</a></li>
      </ul>
    </div>
  </div>
</nav>

{% block body %}
{% endblock %}

</body>
</html>
