{% extends "layout.html" %}
{% block history_act %}active{% endblock %}
{% block body %}
<div class="container">
  <form action="{{url_for('history')}}" method="get">
  <div class="row">
    <div class="col-sm-1">
      <h4>Begin</h4>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <div class="input-group date" id="beginpicker">
          <input type="text" class="form-control" value="{{begin}}" name="begin"></input>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <h4>End</h4>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <div class="input-group date" id="endpicker">
          <input type="text" class="form-control" value="{{end}}" name="end"></input>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
    <div class="col-sm-2">
      <a href="{{url_for('history')}}" class="btn btn-default btn-block">Last 24hr</a>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
      $('#beginpicker').datetimepicker();
    });
    $(function () {
      $('#endpicker').datetimepicker();
    });
  </script>
  </form>
  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <h3>Outdoor Temperature</h3>
        <p>
          Max: <b>{{ important_points.outdoor_temp.max|round(1, 'common')}}{{ config.UNITS.temp }}</b><br>
          Min: <b>{{ important_points.outdoor_temp.min|round(1, 'common')}}{{ config.UNITS.temp }}</b><br>
          Average: <b>{{ important_points.outdoor_temp.avg|round(1, 'common')}}{{ config.UNITS.temp }}</b>
        </p>
      </div>
      <div class="row">
        <h3>Indoor Temperature</h3>
        <p>
          Max: <b>{{ important_points.indoor_temp.max|round(1, 'common')}}{{ config.UNITS.temp }}</b><br>
          Min: <b>{{ important_points.indoor_temp.min|round(1, 'common')}}{{ config.UNITS.temp }}</b><br>
          Average: <b>{{ important_points.indoor_temp.avg|round(1, 'common')}}{{ config.UNITS.temp }}</b>
        </p>
      </div>
    </div>
    <div class="col-sm-9">
      {{temp_graph|safe}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <h3>Average Wind Speed</h3>
        <p>
          Max: <b>{{ important_points.average_wind_speed.max|round(1, 'common')}}{{ config.UNITS.wind }}</b><br>
          Min: <b>{{ important_points.average_wind_speed.min|round(1, 'common')}}{{ config.UNITS.wind }}</b><br>
          Average: <b>{{ important_points.average_wind_speed.avg|round(1, 'common')}}{{ config.UNITS.wind }}</b>
        </p>
      </div>
      <div class="row">
        <h3>Gust Speed</h3>
        <p>
          Max: <b>{{ important_points.gust_speed.max|round(1, 'common')}}{{ config.UNITS.wind }}</b><br>
          Min: <b>{{ important_points.gust_speed.min|round(1, 'common')}}{{ config.UNITS.wind }}</b><br>
          Average: <b>{{ important_points.gust_speed.avg|round(1, 'common')}}{{ config.UNITS.wind }}</b>
        </p>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">{{wind_graph|safe}}</div>
      <div class="row">{{winddir_graph|safe}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <h3>Outdoor Humidity</h3>
        <p>
          Max: <b>{{ important_points.outdoor_humidity.max|round(1, 'common')}}%</b><br>
          Min: <b>{{ important_points.outdoor_humidity.min|round(1, 'common')}}%</b><br>
          Average: <b>{{ important_points.outdoor_humidity.avg|round(1, 'common')}}%</b>
        </p>
      </div>
      <div class="row">
        <h3>Indoor Humidity</h3>
        <p>
          Max: <b>{{ important_points.indoor_humidity.max|round(1, 'common')}}%</b><br>
          Min: <b>{{ important_points.indoor_humidity.min|round(1, 'common')}}%</b><br>
          Average: <b>{{ important_points.indoor_humidity.avg|round(1, 'common')}}%</b>
        </p>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">{{humidity_graph|safe}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <h3>Relative Pressure</h3>
        <p>
        Max: <b>{{ important_points.pressure.max|round(2, 'common')}} {{config.UNITS.press}}</b><br>
        Min: <b>{{ important_points.pressure.min|round(2, 'common')}} {{config.UNITS.press}}</b><br>
        Average: <b>{{ important_points.pressure.avg|round(2, 'common')}} {{config.UNITS.press}}</b>
        </p>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">{{pressure_graph|safe}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <h3>Solar Radiation</h3>
        <p>
        Max: <b>{{ important_points.solar_radiation.max|round(1, 'common')}} {{config.UNITS.solar}}</b><br>
        Min: <b>{{ important_points.solar_radiation.min|round(1, 'common')}} {{config.UNITS.solar}}</b><br>
        Average: <b>{{ important_points.solar_radiation.avg|round(1, 'common')}} {{config.UNITS.solar}}</b>
        </p>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">{{solar_radiation_graph|safe}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <h3>Precipitation Rate</h3>
        <p>
        Max: <b>{{ important_points.hourly_rain.max|round(1, 'common')}} {{config.UNITS.rain}}/hr</b><br>
        Min: <b>{{ important_points.hourly_rain.min|round(1, 'common')}} {{config.UNITS.rain}}/hr</b><br>
        Average: <b>{{ important_points.hourly_rain.avg|round(1, 'common')}} {{config.UNITS.rain}}/hr</b>
        </p>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">{{hourly_rain_graph|safe}}</div>
    </div>
  </div>
{% endblock %}
