{% extends "layout.html" %}
{% block status_act %}active{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Current Conditions</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      {% if forecast.currentobservation.Weatherimage != "NULL" %}<img src="http://forecast.weather.gov/newimages/large/{{ forecast.currentobservation.Weatherimage }}" class="fc-icon-big pull-left">{% endif %}
      <h1 {% if weather.last_outdoor_temp >= 90 %}class="color_90"{% elif weather.last_outdoor_temp >= 80 %}class="color_80"{% elif weather.last_outdoor_temp >= 70 %}class="color_70"{% elif weather.last_outdoor_temp >= 60 %}class="color_60"{% elif weather.last_outdoor_temp >= 50 %}class="color_50"{% elif weather.last_outdoor_temp >= 40 %}class="color_40"{% else %}class="color_30"{% endif %}>{{ weather.last_outdoor_temp }}{{ config.UNITS.temp }}</h1>
      <p>{{ forecast.currentobservation.Weather }}</p>
    </div>
    <div class="col-sm-4">
      <table class="table table-hover">
        <tr>
          <td>Humidity</td>
          <td>{{weather.last_outdoor_humidity}}%</td>
        </tr>
        <tr>
          <td>Wind speed</td>
          <td>{{weather.last_average_wind_speed}} {{config.UNITS.wind}}</td>
        </tr>
        <tr>
          <td>Gust speed</td>
          <td>{{weather.last_gust_speed}} {{config.UNITS.wind}}</td>
        </tr>
        <tr>
          <td>Pressure</td>
          <td>{{weather.last_relative_pressure}} {{config.UNITS.press}}</td>
        </tr>
        <tr>
          <td>Solar radiation</td>
          <td>{{weather.last_solar_radiation}} {{config.UNITS.solar}}</td>
        </tr>
      </table>
    </div>
    <div class="col-sm-4">
      <table class="table table-hover">
        <tr>
          <td>Precip. Rate</td>
          <td>{{weather.last_hourly_rain}} {{config.UNITS.rain}}/hr</td>
        </tr>
        <tr>
          <td>Daily Rain</td>
          <td>{{weather.last_daily_rain}} {{config.UNITS.rain}}</td>
        </tr>
        <tr>
          <td>Weekly Rain</td>
          <td>{{weather.last_weekly_rain}} {{config.UNITS.rain}}</td>
        </tr>
        <tr>
          <td>Indoor Temperature</td>
          <td>{{weather.last_indoor_temp}}{{config.UNITS.temp}}</td>
        </tr>
        <tr>
          <td>Indoor Humidity</td>
          <td>{{weather.last_indoor_humidity}}%</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Forecast</h2>
      <p>Forecast Area: {{ forecast.location.areaDescription }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2" align="center">
      <p><b>{% if forecast.time.startPeriodName[0] == "Columbus Day" %}Indigenous People's Day{% else %}{{ forecast.time.startPeriodName[0] }}{% endif %}</b></p>
      <img class="fc-icon-small" src="{{ forecast.data.iconLink[0] }}">
      <p>{{ forecast.time.tempLabel[0] }}: {{ forecast.data.temperature[0] }}</p>
      <p>{{ forecast.data.weather[0] }}</p>
    </div>
    <div class="col-sm-2" align="center">
      <p><b>{{ forecast.time.startPeriodName[1] }}</b></p>
      <img class="fc-icon-small" src="{{ forecast.data.iconLink[1] }}">
      <p>{{ forecast.time.tempLabel[1] }}: {{ forecast.data.temperature[1] }}</p>
      <p>{{ forecast.data.weather[1] }}</p>
    </div>
    <div class="col-sm-2" align="center">
      <p><b>{{ forecast.time.startPeriodName[2] }}</b></p>
      <img class="fc-icon-small" src="{{ forecast.data.iconLink[2] }}">
      <p>{{ forecast.time.tempLabel[2] }}: {{ forecast.data.temperature[2] }}</p>
      <p>{{ forecast.data.weather[2] }}</p>
    </div>
    <div class="col-sm-2" align="center">
      <p><b>{{ forecast.time.startPeriodName[3] }}</b></p>
      <img class="fc-icon-small" src="{{ forecast.data.iconLink[3] }}">
      <p>{{ forecast.time.tempLabel[3] }}: {{ forecast.data.temperature[3] }}</p>
      <p>{{ forecast.data.weather[3] }}</p>
    </div>
    <div class="col-sm-2" align="center">
      <p><b>{{ forecast.time.startPeriodName[4] }}</b></p>
      <img class="fc-icon-small" src="{{ forecast.data.iconLink[4] }}">
      <p>{{ forecast.time.tempLabel[4] }}: {{ forecast.data.temperature[4] }}</p>
      <p>{{ forecast.data.weather[4] }}</p>
    </div>
    <div class="col-sm-2" align="center">
      <p><b>{{ forecast.time.startPeriodName[5] }}</b></p>
      <img class="fc-icon-small" src="{{ forecast.data.iconLink[5] }}">
      <p>{{ forecast.time.tempLabel[5] }}: {{ forecast.data.temperature[5] }}</p>
      <p>{{ forecast.data.weather[5] }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Detailed Forecast</h3>
      <table class="table table-hover">
        <tr>
          <th>{% if forecast.time.startPeriodName[0] == "Columbus Day" %}
                Indigenous People's Day
              {% else %}
                {{ forecast.time.startPeriodName[0] }}
              {% endif %}
          </th>
          <td>{{ forecast.data.text[0] }}</td>
        </tr>
        <tr>
          <th>{{ forecast.time.startPeriodName[1] }}</th>
          <td>{{ forecast.data.text[1] }}</td>
        </tr>
        <tr>
          <th>{{ forecast.time.startPeriodName[2] }}</th>
          <td>{{ forecast.data.text[2] }}</td>
        </tr>
        <tr>
          <th>{{ forecast.time.startPeriodName[3] }}</th>
          <td>{{ forecast.data.text[3] }}</td>
        </tr>
        <tr>
          <th>{{ forecast.time.startPeriodName[4] }}</th>
          <td>{{ forecast.data.text[4] }}</td>
        </tr>
        <tr>
          <th>{{ forecast.time.startPeriodName[5] }}</th>
          <td>{{ forecast.data.text[5] }}</td>
        </tr>
        <tr>
          <th>{{ forecast.time.startPeriodName[6] }}</th>
          <td>{{ forecast.data.text[6] }}</td>
        </tr>
        <tr>
          <th>{{ forecast.time.startPeriodName[7] }}</th>
          <td>{{ forecast.data.text[7] }}</td>
        </tr>
        <tr>
          <th>{{ forecast.time.startPeriodName[8] }}</th>
          <td>{{ forecast.data.text[8] }}</td>
        </tr>
        <tr>
          <th>{{ forecast.time.startPeriodName[9] }}</th>
          <td>{{ forecast.data.text[9] }}</td>
        </tr>
        <tr>
          <th>{{ forecast.time.startPeriodName[10] }}</th>
          <td>{{ forecast.data.text[10] }}</td>
        </tr>
        <tr>
          <th>{{ forecast.time.startPeriodName[11] }}</th>
          <td>{{ forecast.data.text[11] }}</td>
        </tr>
        <tr>
          <th>{{ forecast.time.startPeriodName[12] }}</th>
          <td>{{ forecast.data.text[12] }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Forecast retrieved from NWS. | Production Center:
      <a href="{{ forecast.credit }}"><b>{{ forecast.productionCenter}}</b></a>
      | Forecast Creation Date: {{ forecast.creationDateLocal }}</p>
    </div>
  </div>
</div>
{% endblock %}
