.color_90 { color: #db0000; }
.color_80 { color: #db5d00; }
.color_70 { color: #dbd300; }
.color_60 { color: #44c106; }
.color_50 { color: #06c181; }
.color_40 { color: #069cc1; }
.color_30 { color: #9c06c1; }
img.fc-icon-big { width: 100px; height: 100px; margin: 1em; }
img.fc-icon-small { width: 75px; height: 75px; margin: 0.5em; }
